---
lang: "en-US"
description: "TioRi Homepage"
keywords: "fun, funny, funniest"
robots: "index, follow"
canonical: ""
title: "Tiori Homepage"
---

<div class="container mt-5 p-content mb-5 ">
  <div class="row mt-3 mb-3">
    <div  class="col-sm-12 p-0 p-relative">
    </div>
    <div class="col-sm-12 bg-neutral-white">
      <div class="p-content">
        {{#with enUs.content.pages.intro }}
        <section id="intro" class="site-section mb-2 pt-3">
          <!-- Information about me -->
          <h1 id="introTitle" class="pt-1 pb-3">{{this.title}}</h1>
          {{!-- content template --}}
          <div class="js-content">
            {{#each this.body }}
              {{>bodyContent}}
            {{/each}}
          </div>
        </section>
        {{/with}}

        {{#with enUs.content.pages.projects }}
        <section id="projects" class="site-section mb-3 pt-3" >
          {{#if this.img}}
          <figure class="col-xs-12 col-md-4 pull-right drawing-thumb txt-center pt-1">
            <img src="{{this.img.src}}" alt="{{this.img.alt}}" class="img-fluid">
            <figcaption id="figCaption">{{this.img.alt}}</figcaption>
          </figure>
          {{/if}}

          <h1 class="pt-1 pb-3">{{this.title}}</h1>
          <div class="js-content">
          {{#each this.body }}
            {{>bodyContent}}
          {{/each}}
          </div>
        </section>
        {{/with}}

        {{#with enUs.content.pages.about }}
        <section id="about" class="site-section mb-3 pt-3">
          <!-- Information about me -->
          <h1 id="homeTitle" class="pt-1 pb-3">{{this.title}}</h1>
          {{!-- content template --}}
          <div class="js-content">
            {{#each this.body }}
              {{>bodyContent}}
            {{/each}}
          </div>
        </section>
        {{/with}}

        {{#with enUs.content.pages.contact }}
        <section id="contact" class="site-section mb-3 pt-3" >
          <h1 id="contactTitle" class="pt-1 pb-3">{{this.title}}</h1>
          <div class="js-content">
            <p id="contactText">{{this.body.[0].content}}</p>
          </div>
          <div id="social-networks">
            <a href="//www.facebook.com/gimenesferreira"><i class="fa fa-facebook"></i></a>
            <a href="//www.instagram.com/tioriinsta/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="//www.linkedin.com/in/ricardo-gimenes-ferreira-46103a63" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="//www.youtube.com/channel/UCi_3aroGaYutkCUEZBNdVXA" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="//twitter.com/Thiory_" target="_blank"></a><i class="fa fa-twiter"></i>
            <a href="//github.com/Thiory07" target="_blank"><i class="fa fa-github"></i></a>
          </div>
          <div class="email-and-phone">
            <p><i class="fa fa-phone"></i> +55 11 9 8983 2481</p>
            <p><i class="fa fa-mail"></i> <a href="mailto:gimenesferreira@gmail.com">gimenesferreira@gmail.com</a></p>
          </div>
        </section>
        {{/with}}
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<div class="mb-3 mt-3" style="height:445px;"></div>
