---
lang: "en-US"
description: "TioRi Homepage"
keywords: "fun, funny, funniest"
robots: "index, follow"
canonical: ""
title: "Tiori Homepage"
---
<div class="container">
  <div id="menu" class="p-fixed mb-5">
    {{#each enUs.content.menu}}
    <a href="#{{this.url}}" class="blue-bic postit p-relative js-menu-item {{#if @first}}active{{/if}} {{this.color}}">
      <div id="menu-{{this.name}}"    class=" p-content-s">
        {{this.name}}
      </div>
    </a>
    {{/each}}
  </div>
</div>
<div class="container mt-5 p-content  mb-5">
  <div class="row mt-5 mb-5">
    <div  class="col-sm-12 p-0 p-relative">
    </div>
    <div class="col-sm-12 bg-neutral-white">
      <div class="p-content">
        {{#with enUs.content.pages.about }}
        <section id="about" class="site-section mb-5">
          <!-- Information about me -->
          <h1 id="homeTitle">{{this.title}}</h1>
          {{!-- content template --}}
          {{#each this.body }}
            {{>bodyContent}}
          {{/each}}
          <figure class="col-xs-12 col-md-4 pull-right drawing-thumb txt-center">
            <img src="{{this.img.src}}" alt="{{this.img.alt}}" class="img-fluid">
            <figcaption id="figCaption">{{this.img.alt}}</figcaption>
          </figure>
        </section>
        {{/with}}

        {{#with enUs.content.pages.projects }}
        <section id="projects" class="site-section mb-5" style="display: block;">
          <!-- I hope to be posting a few experiments here soon, but for now I'll only give my github reference -->
          <h1>{{this.title}}</h1>
          {{#each this.body }}
            {{>bodyContent}}
          {{/each}}
        </section>
        {{/with}}

        {{#with enUs.content.pages.contact }}
        <section id="contact" class="site-section mb-5" >
          <h1 id="contactTitle">{{this.title}}</h1>
          <p id="contactText">{{this.body.[0].content}}</p>
          <div id="social-networks">
            <a href="//www.facebook.com/gimenesferreira"><i class="fa fa-facebook"></i></a>
            <a href="//www.instagram.com/tioriinsta/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="//www.linkedin.com/in/ricardo-gimenes-ferreira-46103a63" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="//www.youtube.com/channel/UCi_3aroGaYutkCUEZBNdVXA" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="//twitter.com/Thiory_" target="_blank"></a><i class="fa fa-twiter"></i>
            <a href="//github.com/Thiory07" target="_blank"><i class="fa fa-github"></i></a>
          </div>
          <div class="email-and-phone">
            <p><i class="fa fa-phone"></i> +55 11 9 8983 2481</p>
            <p><i class="fa fa-mail"></i> <a href="mailto:gimenesferreira@gmail.com">gimenesferreira@gmail.com</a></p>
          </div>
        </section>
        {{/with}}
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<div class="mb-5 mt-5" style="height:50px;"></div>
