---
lang: "en-US"
description: "TioRi Homepage"
keywords: "fun, funny, funniest"
robots: "index, follow"
canonical: ""
title: "Tiori Homepage"
---
<div class="container p-0">
  <div id="menu" class="p-fixed mb-5">
    {{#each enUs.content.menu}}
    <a href="#{{this.url}}" class="blue-bic postit p-relative js-menu-item {{#if @first}}active{{/if}} {{this.color}}">
      <div id="menu-{{this.name}}"    class=" p-content-s">
        {{this.name}}
      </div>
    </a>
    {{/each}}

    <div id="languages" class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div id="main-flag" class="flag flag-en js-main-flag"></div>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="js-flag-item dropdown-item" href="#" data-lang="enUs"  data-flag="flag-en"><div class="float-left flag flag-en " ></div> English</a>
        <!-- <a class="js-flag-item dropdown-item" href="#" data-lang="" data-flag=""><div class="float-left flag flag-dk " ></div> Dansk</a> -->
        <!-- <a class="js-flag-item dropdown-item" href="#" data-lang="" data-flag=""><div class="float-left flag flag-es " ></div> Español</a> -->
        <!-- <a class="js-flag-item dropdown-item" href="#" data-lang="" data-flag=""><div class="float-left flag flag-fr " ></div> Français</a> -->
        <!-- <a class="js-flag-item dropdown-item" href="#" data-lang="" data-flag=""><div class="float-left flag flag-it " ></div> Italiano</a> -->
        <!-- <a class="js-flag-item dropdown-item" href="#" data-lang="" data-flag=""><div class="float-left flag flag-nl " ></div> Nederlands</a> -->
        <!-- <a class="js-flag-item dropdown-item" href="#" data-lang="" data-flag=""><div class="float-left flag flag-jp " ></div> 日本語</a> -->
        <a class="js-flag-item dropdown-item" href="#" data-lang="ptBr" data-flag="flag-pt"><div class="float-left flag flag-pt " ></div> Português</a>
        <!-- <a class="js-flag-item dropdown-item" href="#" data-lang="" data-flag=""><div class="float-left flag flag-ru " ></div> Русский</a> -->

        <!--
        English,
        Dansk,
        Nederlands,
        Français
        Italiano,
        日本語,
        Español,
        Русский
        Portuguese
        -->
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 p-content mb-5 ">
  <div class="row mt-5 mb-5">
    <div  class="col-sm-12 p-0 p-relative">
    </div>
    <div class="col-sm-12 bg-neutral-white">
      <div class="p-content">
        {{#with enUs.content.pages.about }}
        <section id="about" class="site-section mb-5">
          <!-- Information about me -->
          <h1 id="homeTitle">{{this.title}}</h1>
          {{!-- content template --}}
          <div class="js-content">
            {{#each this.body }}
              {{>bodyContent}}
            {{/each}}
          </div>
          <figure class="col-xs-12 col-md-4 pull-right drawing-thumb txt-center">
            <img src="{{this.img.src}}" alt="{{this.img.alt}}" class="img-fluid">
            <figcaption id="figCaption">{{this.img.alt}}</figcaption>
          </figure>
        </section>
        {{/with}}

        {{#with enUs.content.pages.projects }}
        <section id="projects" class="site-section mb-5" style="display: block;">
          <!-- I hope to be posting a few experiments here soon, but for now I'll only give my github reference -->

          <h1>{{this.title}}</h1>
          <div class="js-content">
          {{#each this.body }}
            {{>bodyContent}}
          {{/each}}
          </div>
        </section>
        {{/with}}

        {{#with enUs.content.pages.contact }}
        <section id="contact" class="site-section mb-5" >
          <h1 id="contactTitle">{{this.title}}</h1>
          <div class="js-content">
            <p id="contactText">{{this.body.[0].content}}</p>
          </div>
          <div id="social-networks">
            <a href="//www.facebook.com/gimenesferreira"><i class="fa fa-facebook"></i></a>
            <a href="//www.instagram.com/tioriinsta/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="//www.linkedin.com/in/ricardo-gimenes-ferreira-46103a63" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="//www.youtube.com/channel/UCi_3aroGaYutkCUEZBNdVXA" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="//twitter.com/Thiory_" target="_blank"></a><i class="fa fa-twiter"></i>
            <a href="//github.com/Thiory07" target="_blank"><i class="fa fa-github"></i></a>
          </div>
          <div class="email-and-phone">
            <p><i class="fa fa-phone"></i> +55 11 9 8983 2481</p>
            <p><i class="fa fa-mail"></i> <a href="mailto:gimenesferreira@gmail.com">gimenesferreira@gmail.com</a></p>
          </div>
        </section>
        {{/with}}
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<div class="mb-5 mt-5" style="height:120px;"></div>
