<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/favico/favicon-96x96.png" />
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{keywords}}" />
    <meta name="robots" content="{{robots}}" />
    <title>{{title}}</title>
    {{> head-scripts }}
  </head>
  <body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMLD7KX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{> body }}
    
    {{> top-menu}}
    {{> footer-scripts}}
  </body>
</html>
