<div class="container p-0">
  <div id="menu" class="p-fixed mb-5">
    {{#each this.content.menu}}
    <a href="#{{this.url}}" class="blue-bic postit p-relative js-menu-item {{#if @first}}active{{/if}} {{this.color}}">
      <div id="menu-{{this.name}}"    class=" p-content-s">
        {{this.name}}
      </div>
    </a>
    {{/each}}

    <div id="languages" class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="main-flag" class="flag flag-{{this.flag}} js-main-flag"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="js-flag-item dropdown-item" href="/en" data-lang="enUs"  data-flag="flag-en"><div class="float-left flag flag-en " ></div> English</a>
        <a class="js-flag-item dropdown-item" href="/" data-lang="ptBr" data-flag="flag-pt"><div class="float-left flag flag-pt " ></div> Português</a>
      </div>
    </div>
  </div>
</div>
